@import "tailwindcss";

@theme {
  --color-primary: #00d138;
  --color-primary-dark: #00a62c;
  --color-background-offwhite: #f8fafc;
  --color-sidebar-bg: #f9fafb;
  --font-sans:
    var(--font-inter), "Inter", "ui-sans-serif", "system-ui", "sans-serif";
}

@custom-variant dark (&:is(.dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  .body-text {
    @apply text-gray-900 font-sans;
  }
  .heading-text {
    @apply text-gray-900 font-serif;
  }
}
